.flex{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.nav-logo div{
    justify-content: space-between;
    font-weight: 550;
    font-size: 3vmax;
}
.menu-icon{
    display: none;
}
.nav-tiles{
   width: 350px;
   list-style: none;
   cursor: pointer;
}
.nav-tiles-drop{
    display: none;
}

.login-btn{
    border: 1px solid black;
    border-radius: 15px;
    font-size: large;
    text-align: center;
    padding: 10px 0;
    width: 80px;
    cursor: pointer;
    transition: 0.3s;
}


.login-btn:hover{
    background: #e65757;
}

.login-btn:active{
    background:#e23838;
}

.nav-disk{
    font-size: large;
}

.nav-tiles hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #f33a3a;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -15px;
    left: -20px;
    color: white;
    background:#e23838;

}

.l{
    text-decoration: none;
}

@media (max-width:550px) {
    .nav{
        width: 100vw;
        height: 60px;
        padding: 4vw 5vw;
    }
    .nav-logo img{
        width: 9vw;
    }
    .nav-tiles{
        display: none;
    }
    .nav-login{
        display: none;
    }
    .menu-icon{
        display: block;
        font-size: 2rem;
    }

    @keyframes opacityTransition {
        from{
            opacity: 0;
            transform: translateY(-20px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }

    .nav-tiles-drop.active{
        opacity: 1;
        width: 100vw;
        background: white;
        z-index: 11;
        position: absolute;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
        animation: opacityTransition 0.5s ease;
    }
    /* .nav-tiles-drop.inactive{
        opacity: 0;
        visibility: hidden;
        
        animation: opacityTransitionO  0.5s ease;
    } */
    .nav-disk-drop{
        list-style: none;
    }
    .l{
        font-size: 18px;
        color:black;
    }
}