
.hero{
    min-height: 70vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 120px 180px;
    justify-content: center;
    gap: 20px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-text{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}

.hero-hand{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}

@media (max-width:1400px ) and (min-width:950px){
    .hero-left{
        transform: translateY(-50px);
    }
    .hero-left h2{
        font-size: 24px;
    }
    .hero-text{
        font-size: 70px;
    }
    .hero-right{
        /* height: 300px; */
        width: 200px;
    }
    .hero-right img{
        height: 700px;
        transform: translateY(-50px);
    }
}
@media (max-width:950px) {
    .hero{
        padding-top: 50px;
        flex-direction: column-reverse;
    }
    .hero-right{
        display: none;
    }
    .hero-left{
        transform: translateY(-50px);
        padding-bottom: 10px;
    }
    .hero-text{
        font-size: 90px;
    }
}
@media (max-width:570px) {
    .hero-right{
        width: 100vw;
        display: block;
        margin: auto;
        transform: translateY(-50px);
        }
    .hero-right img{

        width: 330px;
         margin: 0 50px; 
    }
    .hero{
        flex-direction: column-reverse;
    }
    .hero-left{
        width: 100vw;
        padding: 10px;
        margin: 0 50px;
        padding-left: 120px;
        margin-bottom: 50px;
        border: 1px solid blac;
    }
    .hero-left h2{
            font-size: 20px;
    }
    .hero-text{
        font-size: 50px;
    }
    .hero-hand img{
        max-width: 50px;
    }
    .hero-latest-btn{
        max-width: 16rem;
        max-height: 4rem;
        margin-top: 0px;
    }
} 
@media (max-width:550px) {
    .hero{
        width: 100%;
        height: calc(50% - 400px);
        overflow-y: hidden;
        align-items: center;
        font-size: 10px;
        flex-direction: column-reverse;
    }
    .hero-left{
        height: 40%;
        padding-left: 4rem;
        line-height: 3em;
    }
    .hero-left h2{
        font-size: 1.8em;
        transform: translateY(20px);
    }
    .hero-text{
        font-size: 3.3em;
    }
    .hero-hand img{
        max-width: 4em;   
    }
    .hero-right img{
        max-width: 15rem;
        margin: 0 60px;
    }
    .hero-latest-btn{
        max-width: 9em;
        max-height: 2.3em;
    }
    .hero-latest-btn div{
        font-size: 0.78em;
    }
    .hero-latest-btn img{
        max-width: 0.7em;
    }
}